@charset "utf-8";

@import '_common';

$base-color: #333;

body {
  display: flex;
  padding: 10px;
  margin: 0;
  color: $base-color;

  div {
    font-weight: bold;
  }
}

span {
  border: 1px solid #fff;
}
