@charset "utf-8";

@import "common/**";

body {
  display: flex;
  margin: 0;
  padding: 10px;
  color: $base-color;

  @include font-size(14);

  &.-test {
    background-color: $base-color;
  }

  div {
    font-weight: bold;
  }
}

span {
  border: 1px solid #fff;
}

.parent {
  margin: 5px;
}

.child {
  @extend .parent;
}
